<!-- Example ~/.m2/settings.xml file for storing cloud credentials -->
<settings>
  <profiles>
    <profile>
      <id>cloud-credentials</id>
      <activation>
	<activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <jclouds.compute.provider>cloud compute service name</jclouds.compute.provider>
        <jclouds.compute.identity>identity</jclouds.compute.identity>
        <jclouds.compute.credential>credential</jclouds.compute.credential>
        <jclouds.blobstore.provider>cloud blobstore name</jclouds.blobstore.provider>
        <jclouds.blobstore.identity>identity</jclouds.blobstore.identity>
        <jclouds.blobstore.credential>credential</jclouds.blobstore.credential>
      </properties>
    </profile>
    <profile>
      <id>pallet-config</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <pallet.deploy.bucket>bucket name for webapp deployments</pallet.deploy.bucket>
      </properties>
    </profile>
  </profiles>
</settings>

