<!-- Example ~/.m2/settings.xml file for storing cloud credentials -->
<settings>
  <profiles>
    <profile>
      <id>cloud-credentials</id>
      <activation>
	<activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <pallet.service>cloudservers</pallet.service>
        <pallet.user>username</pallet.user>
        <pallet.key>key</pallet.key>
      </properties>
    </profile>
  </profiles>
</settings>

