<!-- Example ~/.m2/settings.xml file for storing cloud credentials -->
<settings>
  <profiles>
    <profile>
      <id>cloud-credentials</id>
      <activation>
	<activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <jclouds.compute.provider>cloudservers</jclouds.compute.provider>
        <jclouds.compute.identity>username</jclouds.compute.identity>
        <jclouds.compute.credential>key</jclouds.compute.credential>
      </properties>
    </profile>
  </profiles>
</settings>

